  main .content {
    display: flex;
    justify-content: space-around;
    /* margin: 180px 0px; */
    margin: 122px;
    font: bold 1.2em "popins", sans-serif;
    ;
    font-size: xx-large;
  }

  .content .intro {
    color: white;
  }

  .purple {
    color: purple;
  }

  .content .image img {
    border: white 8px solid;
    box-shadow: white;
    border-radius: 200px;
    box-shadow: 0px 10px 40px -14px whitesmoke;
    ;
  }

  .language,
  .dev h3 {
    text-align: center;
  }

  .Skills ul {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 40px 20px;
    list-style: none;
  }

  .Skills ul li {
    margin: 0px 157px;
  }

  .Skills {
    color: snow;
    font: bold 1.2em "popins", sans-serif;
    font-size: xx-large;
    margin: 40px;
  }

  .Certification {
    color: whitesmoke;
    font: bold 1.2em "popins", sans-serif;
    font-size: xx-large;
    margin: 40px;
  }
  

  .Certification img {
    box-shadow: 0px 10px 40px -14px whitesmoke;
  }
  .Certification h2{
    align-items: center;
  }

  hr {
    border: none;
    border-top: 3px double #333333;
    color: white;
    overflow: visible;
    text-align: center;
    height: 5px;
  }

  hr::after {

    content: "------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
    padding: 0 4px;
    position: relative;
    top: -13px;
  }