   hr {
     border: none;
     border-top: 3px double #333333;
     color: white;
     overflow: visible;
     text-align: center;
     height: 5px;
   }

   hr::after {
     /* background: white; */
     content: "------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
     padding: 0 4px;
     position: relative;
     top: -13px;
   }

   * {
     padding: 0;
     margin: 0;
   }

   header {
     height: 120px;
     font: italic bold 1.2em "Fira Sans", sans-serif;
     background-color: #494d5f;
     color: white;
   }

   .navbar {
     display: flex;
     justify-content: space-around;
     align-items: center;
   }

   nav ul {
     list-style: none;
   }

   .right ul {
     display: flex;
     margin: 43px 92px;
   }

   nav ul li a {
     margin: 22px;
     text-decoration: none;
     color: white;
   }

   nav ul li a:hover {
     color: rgb(166, 166, 231);
   }

   body {
     background-color: #372a45;
   }




   #Contact {
     scroll-behavior: smooth;
   }

   footer {
     height: 140px;
     font: "Fira Sans", sans-serif;
     background-color: #494d5f;
     color: white;
   }

   footer p {
     display: flex;
     justify-content: center;
     align-items: center;

   }

   footer p a {
     text-decoration: none;
     color: white;
   }

   footer p a:hover {
     color: purple;
   }

   .tag {
     color: aqua;
     text-align: center;
   }